<h2>User info</h2>
<table class="table">
	<tbody>
	  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: 'noimage.png', size: '60x60' %>
	<tr>
		<th>name</th>
		<td><%= user.name %></td>
	</tr>
	<tr>
		<th>introduction</th>
		<td><%= user.introduction %></td>
	</tr>
</tbody>
</table>
<div class="row">
	<%= link_to edit_user_path(user) do %>
		<span class="glyphicon glyphicon-wrench btn btn-default col-xs-12" aria-hidden="true"></span>
	<% end %>
</div>